{% extends 'base.html' %}
{% load staticfiles %}
{% load ad_extensions %}
{% load social_widgets %}
{% block title %}О компании{% endblock %}

{% block content %}
    <div class="one-post">
        <div class="bread-crumbs">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a><span>></span></li>
                <li class="active"><a href="{% url 'about' %}">О нас</a></li>
            </ul>
        </div>
        <section>
            <div class="title"><h1>О компании</h1></div>

            <div class="post-body">
                {{ content.text|clear_spaces|safe }}
            </div>

            <div class="middle-banner">
                <a href="#"><img src="{% static 'images/banners/middle-banner.png' %}"></a>
            </div>

        </section>
    </div>
    <div class="last-posts">
        <div class="side-banners">
            <div class="one-banner">
                <a href="#">
                    <img src="{% static 'images/banners/side-banner.png' %}">
                </a>
            </div>
            <div class="one-banner">
                <a href="#">
                    <img src="{% static 'images/banners/side-banner-2.png' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}