{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Все объявления{% endblock %}

{% block content %}
    <div class="last-ads">
        <div class="bread-crumbs">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a><span>></span></li>
                <li class="active"><a href="{% url 'ad:all_ads' %}">Категории</a></li>
            </ul>
        </div>
        <div class="ads-header">
            <h2>Последние объявления</h2>
        </div>
        <div class="ads-content">
            <section>
                {% for ad in ads|slice:"0:6" %}
                    {% include 'app/partial/_ads_index.html' %}
                {% endfor %}
            </section>
            {% if horizontal_banner %}
                <div class="middle-banner">
                    <a href="{{ horizontal_banner.link }}" target="_blank"><img src="{{ horizontal_banner.content.url }}"></a>
                </div>
            {% endif %}
            <section>
                {% for ad in ads|slice:"6:12" %}
                    {% include 'app/partial/_ads_index.html' %}
                {% endfor %}
            </section>
        </div>
        <div class="view-more">
            {% include 'app/partial/_pagination.html' %}
        </div>
    </div>
    <div class="last-posts">
        <div class="side-banners">
            {% if left_small_banner %}
                <div class="one-banner">
                    <a href="{{ left_small_banner.link }}" target="_blank">
                        <img src="{{ left_small_banner.content.url }}">
                    </a>
                </div>
            {% endif %}
            {% if left_large_banner %}
                <div class="one-banner">
                    <a href="{{ left_large_banner.link }}" target="_blank">
                        <img src="{{ left_large_banner.content.url }}">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}