{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="last-ads">
        <div class="ads-header">
            <h2>Последние объявления</h2>
        </div>
        <div class="ads-content">
            <section>
                {% for ad in ads|slice:"0:6" %}
                    {% include 'app/partial/_ads_index.html' %}
                {% endfor %}
            </section>
            <div class="middle-banner">
                <a href="#">
                    <img src="{% static  'images/banners/middle-banner.png' %}">
                </a>
            </div>
            <section>
                {% for ad in ads|slice:"6:12" %}
                    {% include 'app/partial/_ads_index.html' %}
                {% endfor %}
            </section>
        </div>
        <div class="view-more">
            <a href="#">Смотреть все объявления >></a>
        </div>
    </div>
    <div class="last-posts">
        <div class="post-header"><h2>Последние новости</h2></div>
        <div class="post-content">
            {% include 'app/partial/_news_index.html' %}
            <div class="side-banners">
                <div class="one-banner">
                    <a href="#">
                        <img src="{% static  'images/banners/side-banner.png' %}">
                    </a>
                </div>
                <div class="one-banner">
                    <a href="#">
                        <img src="{% static  'images/banners/side-banner-2.png' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}