{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Данная страница не найдена{% endblock %}

{% block content %}
    <div class="one-post">
        <div class="main-text">
            Ошибка<br>404
        </div>
        <div class="desc-text">
            Данная сраница не существует или была удалена!<br>
            Перейти на:
            <ul>
                <li><a href="{% url 'index' %}">Главную</a></li>
                <li><a href="{% url 'ad:all_ads' %}">Все объявления</a></li>
                <li><a href="{% url 'news:all_posts' %}">Новости</a></li>
            </ul>
        </div>
    </div>
    <div class="last-posts">
        <div class="side-banners">
            <div class="one-banner">
                <a href="#">
                    <img src="{% static 'images/banners/side-banner.png' %}">
                </a>
            </div>
            <div class="one-banner">
                <a href="#">
                    <img src="{% static 'images/banners/side-banner-2.png' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}