{% load staticfiles %}
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-1.png'  %}"></a>
    </div>
    <div class="title"><a href="#">Vans Mens Sz 12</a></div>
    <div class="price">$24.99</div>
    <div class="description">
        Bountiful, UT |7 Mins, <br>
        Vans Mens size 12 never worn, like new... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>4</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-2.png'  %}"></a>
    </div>
    <div class="title"><a href="#">2000 Sundowner Southwest Sierra Sunlite</a></div>
    <div class="price">$34,900.00</div>
    <div class="description">
        Shoshoni. WY|9 Mins<br>
        8 wide 7200# axlesManagers w/2 door accessStainless nose wrapWalk thru doorFeed door in
        escape door4 drop... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>1448</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-3.png'  %}"></a>
    </div>
    <div class="title"><a href="#">Star Wars Tins</a></div>
    <div class="price">$15.00</div>
    <div class="description">
        Magna, UT|10 Mins<br>
        Complete set, There are 2 BB-8 Tins... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>35</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-1.png'  %}"></a>
    </div>
    <div class="title"><a href="#">Vans Mens Sz 12</a></div>
    <div class="price">$24.99</div>
    <div class="description">
        Bountiful, UT |7 Mins, <br>
        Vans Mens size 12 never worn, like new... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>4</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-2.png'  %}"></a>
    </div>
    <div class="title"><a href="#">2000 Sundowner Southwest Sierra Sunlite</a></div>
    <div class="price">$34,900.00</div>
    <div class="description">
        Shoshoni. WY|9 Mins<br>
        8 wide 7200# axlesManagers w/2 door accessStainless nose wrapWalk thru doorFeed door in
        escape door4 drop... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>1448</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>
<div class="one-item">
    <div class="preview">
        <a href="#"><img src="{% static  'images/preview/good-3.png'  %}"></a>
    </div>
    <div class="title"><a href="#">Star Wars Tins</a></div>
    <div class="price">$15.00</div>
    <div class="description">
        Magna, UT|10 Mins<br>
        Complete set, There are 2 BB-8 Tins... <a href="#" class="more">more</a>
    </div>
    <div class="options">
        <ul>
            <li><img src="{% static  'images/icons/views-icon.png'  %}"><span>35</span></li>
            <li><img src="{% static  'images/icons/likes-icon.png'  %}"><span>0</span></li>
        </ul>
    </div>
</div>