{% load staticfiles %}
<div class="one-item">
    <div class="preview">
        <a href="#">
            <img src="{% static  'images/posts/post-1.png'  %}">
        </a>
    </div>
    <div class="title"><a href="#">Small business Owner Are Full of Passion And Smiles</a></div>
    <div class="author">by <a href="#">shane doe</a><span>-</span>July 15, 2016</div>
    <div class="short-description">
        More of this less hello salamander lied porpoise much over tightly circa horse taped so
        innocuously outside crud mightily rigorous...
    </div>
</div>
<div class="others">
    <div class="one-item">
        <div class="preview">
            <a href="#">
                <img src="{% static  'images/posts/post-2.png'  %}">
            </a>
        </div>
        <div class="info">
            <div class="title"><a href="#">6 Best Tips for Building a Good Shipping Boat</a></div>
            <div class="date">july 14, 2016</div>
        </div>
    </div>
    <div class="one-item">
        <div class="preview">
            <a href="#">
                <img src="{% static  'images/posts/post-3.png'  %}">
            </a>
        </div>
        <div class="info">
            <div class="title"><a href="#">US President Address Calms The New Emerging Markets</a></div>
            <div class="date">july 14, 2016</div>
        </div>
    </div>
    <div class="view-more">
        <a href="#">view all</a>
    </div>
</div>