{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Создайте пароль{% endblock %}

{% block content %}
    <div class="change-password">
        <div class="bread-crumbs">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a><span>></span></li>
                <li><a href="{% url 'users:user_profile' user_id=request.user.id %}">{{ request.user }}</a><span>></span></li>
                <li class="active"><a href="">Изменение пароля</a></li>
            </ul>
        </div>
        <section>
            <div class="help-text">
                Установите пароль своего профиля.
            </div>
            <div class="form">
                {% if message %}
                    <div class="thanks-text" {% if result == False %}style="color: #E11633;"{% endif %}>{{ message }}</div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-row">
                        {#<input type="password" placeholder="Новый пароль">#}
                        {{ set_password_form.password1 }}
                    </div>
                    <div class="input-row">
                        {#<input type="password" placeholder="Повторите пароль">#}
                        {{ set_password_form.password2 }}
                    </div>
                    <div class="input-row">
                        <button type="submit">Поставить</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="last-posts">
        <div class="side-banners">
            {% if left_small_banner %}
                <div class="one-banner">
                    <a href="{{ left_small_banner.link }}" target="_blank">
                        <img src="{{ left_small_banner.content.url }}">
                    </a>
                </div>
            {% endif %}
            {% if left_large_banner %}
                <div class="one-banner">
                    <a href="{{ left_large_banner.link }}" target="_blank">
                        <img src="{{ left_large_banner.content.url }}">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}