{% load staticfiles %}
{% load helper %}
{% load widget_tweaks %}
{% load ad_extensions %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | TumaR 24</title>
    {% block extra_stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}

    {% endblock %}
</head>
<body class>
<div class="hamburger">
    <div class="bars-wrapper" id="burger">
        <img src="{% static 'images/icons/menu.png' %}">
    </div>

</div>
<div class="mobile-menu">
    <ul class="menu-bar">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'news:all_posts' %}">Новости</a></li>
        <li>{% if is_auth %}{{ request.user }} | <a href="{% url 'users:users_logout' %}">Выйти</a>{% else %}<a href="#" class="auth-trigger">Войти</a> | <a href="#" class="auth-trigger">Регистрация</a>{% endif %}</li>
        <li><a href="#" class="add-ad-link" data-target="#ad-modal" id="mobile-menu-ad-link">Добавить объявление</a></li>
    </ul>
    <form>
        <ul class="search-bar">
            <li>{{ search_form.search_word }}</li>
            <li>
                <label>
                    {{ search_form.city }}
                </label>
            </li>
            <li>
                <label>
                    {{ search_form.metro }}
                </label>
            </li>
            <li>
                <label>
                    {{ search_form.categories }}
                </label>
            </li>
            <li>
                <button type="submit">Найти</button>
            </li>
        </ul>
    </form>
</div>
{% if horizontal_banner %}
    <div class="top-banner">
        <a href="{{ horizontal_banner.link }}">
            <img src="{{ horizontal_banner.content.url }}">
        </a>
    </div>
{% endif %}
{#<div class="mirror"></div>#}
<header>
    <div class="carcass">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static  'images/logo.png'  %}"></a>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О проекте</a></li>
                <li><a href="{% url 'news:all_posts' %}">Новости</a></li>
            </ul>
        </div>
        <div class="user-functions">
            <ul>
                <li>{% if is_auth %}<a href="{% url 'users:user_profile' user_id=request.user.id %}">{{ request.user }}</a> | <a href="{% url 'users:users_logout' %}">Выйти</a>{% else %}<a href="#" class="auth-trigger">Войти</a> | <a href="#" class="auth-trigger">Регистрация</a>{% endif %}</li>
                <li><a href="#" class="add-ad-link" data-target="#ad-modal">Добавить объявление</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="body group">
    <div class="search">
        <form action="{% url 'ad:search' %}" method="GET">
            <ul>
                <li>
                    {{ search_form.search_word }}
                </li>
                <li>
                    <label>
                        {{ search_form.city }}
                    </label>
                </li>
                <li>
                    <label>
                        {{ search_form.metro }}
                    </label>
                </li>
                <li>
                    <label>
                        {{ search_form.categories }}
                    </label>
                </li>
                <li>
                    <button type="submit">Найти</button>
                </li>
            </ul>
        </form>
    </div>
    <div class="index-categories group">
        {% for item in categories %}
            <div class="categories-item">
                <div class="item-header"><a href="{% url 'categories:parent_category' item.parent.slug %}">{{ item.parent.title }}</a></div>
                <div class="item-content">
                    <ul>
                        {% for sub_cat in item.child.all %}
                            <li>
                                <a href="{% url 'categories:child_category' category=item.parent.slug child=sub_cat.slug %}">{{ sub_cat.title }}</a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="main-content group">
        {% block content %}
            
        {% endblock %}
    </div>

    <div class="site-info">
        <div class="info-header">
            <h1>Сайт объявлений Tumar24.ru</h1>
        </div>
        <div class="info-content">
            <p>
                {% block site_info %}
                    {% if base_text %}
                        {{ base_text|clear_spaces|safe }}
                    {% endif %}
                {% endblock %}
            </p>
        </div>
    </div>
</section>

<footer>
    <div class="carcass group">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static  'images/logo.png'  %}"></a>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О проекте</a></li>
                <li><a href="{% url 'news:all_posts' %}">Новости</a></li>
                <li><a href="#">Реклама на сайте</a></li>
            </ul>
        </div>
        <div class="copyright">
            <h2>Разработанно <a href="#">Double Byte</a></h2>
        </div>
    </div>
</footer>

<div class="overlay" id="ad-modal">
    <div class="modal-carcass">
        <span class="md-close">Закрыть</span>
        <div class="modal-header">
            Добавить объявление
        </div>
        <div class="modal-body">
            <form action="{% url 'ad:create_new_ad' %}" method="POST" enctype="multipart/form-data">
                <div class="input-row">
                    <label>
                        {#<select required>#}
                            {#<option value>Выберите категорию</option>#}
                        {#</select>#}
                        {% render_field ad_creation_form.category %}
                    </label>
                    <label>
                        {#<select required>#}
                            {#<option value>Выберите станцию метро</option>#}
                        {#</select>#}
                        {% render_field ad_creation_form.city %}
                    </label>
                </div>
                <div class="input-row">
                    {#<input type="text" placeholder="Введите название объявления" name="title" required>#}
                    {% render_field ad_creation_form.title placeholder='Введите название объявления' %}
                </div>
                <div class="input-row group">
                    <label class="upload" for="id_images">
                        <img src="{% static  'images/upload-images.png'  %}">
                    </label>
                    <div class="info">
                        Вы можете выбрать сразу<br>
                        несколько фотографий<br>
                        <br>
                        <span id="file-counter" style="color: red;"></span>
                    </div>
                    {#<input type="file" id="images" style="display: none;" multiple>#}
                    {% render_field ad_creation_form.images style='opacity: 0; height: 0;' %}
                </div>
                <div class="input-row">
                    {#<input type="number" placeholder="Впишите цену">#}
                    {% render_field ad_creation_form.price type='number' placeholder='Впишите цену' %}
                    <div class="info">
                        Если цена договорная,<br>
                        оставьте поле пустым.
                    </div>
                </div>
                <div class="input-row">
                    <label>
                        {% render_field ad_creation_form.metro %}
                    </label>
                </div>
                <div class="input-row">
                    {#<textarea placeholder="Описание объявления..." cols="10" required></textarea>#}
                    {% render_field ad_creation_form.description placeholder='Описание объявления' cols='10' %}
                </div>
                <div class="input-row">
                    {#<input type="text" data-type="phone-number" placeholder="Впишите свой телефон" id="phone" required>#}
                    {% render_field ad_creation_form.phone placeholder='Впишите свой телефон' data-type='phone-number' %}
                    <div class="info">+7 - (***) - *** - ** - **</div>
                </div>
                <div class="input-row">
                    <span>Выберите местоположение на карте кликнув на нужное местоположение:</span>
                </div>
                <div class="input-row">
                    <input id="pac-input" class="controls" type="text" placeholder="Поиск...">
                    <div class="map" id="choose-mark"></div>
                    {#<input type="text" placeholder="координаты" style="display: none;">#}
                    {% render_field ad_creation_form.location %}
                </div>
                <div class="input-row">
                    <button type="submit">Добавить</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>


<div class="overlay" id="auth-modal">
    <div class="login-carcass">
        <span class="md-close">Закрыть</span>
        <div class="modal-header">
            Авторизация
        </div>
        <div class="modal-body">
            <div class="wrap-left">
                <form action="{% url 'users:users_login' %}" method="POST" id="login_form">
                    {% csrf_token %}
                    <div class="wrap-title">Вход</div>
                    <div class="input-row" id="login-errors">
                        <span class="form-error">Ошибка</span>
                    </div>
                    <div class="input-row">
                        {#<input type="email" placeholder="Email">#}
                        {{ app_login_form.email }}
                    </div>
                    <div class="input-row">
                        {#<input type="password" placeholder="Пароль">#}
                        {{ app_login_form.password }}
                    </div>
                    <div class="input-row">
                        <button type="submit">Вход</button>
                    </div>
                    <div class="input-row">
                        <span>Вход через:</span>
                    </div>
                    <div class="input-row group">
                        <a href="{% url 'users:fb_auth' %}" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a href="{% url 'users:vk_auth' %}" class="vk"><i class="fa fa-vk" aria-hidden="true"></i> Вконтакте</a>
                        <a href="{% url 'users:ok_auth' %}" class="odnoklassniki"><i class="fa fa-odnoklassniki" aria-hidden="true"></i> Одноклассники</a>
                    </div>
                </form>
            </div>
            <div class="delimiter"></div>
            <div class="wrap-right">
                <form action="{% url 'users:users_register' %}" method="POST" id="register-form">
                    {% csrf_token %}
                    <div class="wrap-title">Регистрация</div>
                    <div class="input-row" id="register-errors">
                        <span class="form-error">Ошибка</span>
                    </div>
                    <div class="input-row">
                        {#<input type="email" placeholder="Email">#}
                        {{ app_register_form.email }}
                    </div>
                    <div class="input-row">
                        {#<input type="password" placeholder="Пароль">#}
                        {{ app_register_form.password1 }}
                    </div>
                    <div class="input-row">
                        {#<input type="password" placeholder="Повторите пароль">#}
                        {{ app_register_form.password2 }}
                    </div>
                    <div class="input-row">
                        <button type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="email-sent-modal">
    <div class="login-carcass">
        <span class="md-close">Закрыть</span>
        <div class="modal-header">
            Спасибо за регистрацию =)
        </div>
        <div class="modal-body">
            <p>Мы отправили на вашу почту письмо с ссылкой на подтверждение аккаунта.</p>
            <p>Проверьте пожалуйста. Спасибо</p>
        </div>
    </div>
</div>
{% block javascript_parameters %}
    <script>
        var ad_location = null;
    </script>
{% endblock %}
<script>var pathToLibs = '{% static 'js' %}', pathToSlick = '{% static 'slick' %}';</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHFQIQAbbG3k34jXG-reyvJ8YUyCSIYO0&callback=initMap&libraries=places"></script>
<script src="{% static 'js/app/ad.creation.map.js' %}"></script>
<script src="{% static  'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static  'js/core.js'  %}"></script>
<script src="{% static 'js/app/ad.creation.functions.js' %}"></script>
{% block extra_javascripts %}
    
{% endblock %}
</body>
</html>